*.h5
*.hdf5
glove*.txt
.ipynb_checkpoints/Model Creation 2-checkpoint.ipynb
.ipynb_checkpoints/Model Creation 3_allennlp-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Model Creation 3_allennlp-checkpoint.ipynb